@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

button{
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(12, 129, 196);
    color: white;
}

navbar button{
    padding: 5px 0px;
    height: 30px;
    border: 2px rgb(12, 129, 196) solid;
    background-color: white;
    color: rgb(12, 129, 196);
}

navbar{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
navbar img{
    padding-left: 4px;
    height: 30px;
}

navbar span{
    display: flex;
}

navbar span ul {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    list-style:none;
    cursor: pointer;
}

navbar span ul li {
    
    list-style:none;
}

.cats{
    /* padding: 50px; */
    margin: 2px 0;
    color:rgb(0, 0, 0);
    background-image: url('img/cats.jpg');
    height: 80vh;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cats h1, h2, button{
    padding: 10px;
}

.second-section{
    height: 50vh;
    /* padding: 1rem; */
    display: flex;
    justify-content: space-around;
}
.second-section img{
    border-radius: 3px;
}


.nested{
    /* padding: 10px; */
    width:30rem;
    padding: 1rem;
    display: flex;
    justify-content:space-around;  
    flex-flow: column nowrap;
}

.facts{
    background-color: rgb(223, 220, 220);
    padding: 5px;
}
.nested span{
    font-size: 20px;
}
.facts li{
    padding: 5px;
    list-style: none;
}

.third-section{
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sweets{
    display: flex;
    flex-flow: row nowrap;
} 

.third-one{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: center; */
    align-content: center;
    text-align: center;

}
.third-one span{
    color:rgb(106, 108, 109);
    padding: 0 35rem;
    text-align: center;
}

.swt1{
    margin: 4px;
    padding: 60px;
    border-radius: 10px;
    background-color: rgb(195, 216, 216);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1;
    line-height: 1.5;

}
.sweets img{
    height: 30px;
}


.fourth-section{
    padding: 20px;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
}

/* .fourth-section button{
    padding: -4px;
} */

.fourth-section h2, div{
    padding: 5px;
}

.fourth-section img{
    border-radius: 5px;
    height: 60vh;
}

figure{
    height: 50vh;
    background-image:url('img/fifth-section.jpg');
    background-size: contain;
    gap: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

footer{
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
}