@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

button{
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(12, 129, 196);
    color: white;
}

navbar button{
    border: 2px rgb(12, 129, 196) solid;
    background-color: white;
    color: rgb(12, 129, 196);
}

navbar{
    margin: 5px 2rem;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

navbar img{
    padding-left: 4px;
    height: 30px;
}

navbar article{
    display: flex;
}

navbar article ul {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    list-style:none;
    cursor: pointer;
}

navbar article ul li {
    padding: 1px 2rem;
    list-style:none;
}

.cats{
    margin: 2px 0;
    color:rgb(59, 59, 61);
    background-image: url('img/cats.jpg');
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bad-text{
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 10px;;
}

.cats button {
    margin-top: 5px;
    padding: 10px;
}
.cats h1, article{
    text-align: center;
    margin: 5px;
    padding: 1px;
}

.second-section{
    height: 50vh;
    margin: 5rem 0px;
    /* padding: 1rem; */
    display: flex;
    justify-content: space-around;
    
}
.second-section img{
    border-radius: 3px;
}

.nested{
    width:30rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
}

.facts{
    background-color: rgb(223, 220, 220);
    padding: 5px;
}
.nested span{
    font-size: 20px;
}
.facts li{
    padding: 5px;
    list-style: none;
}

.third-section{
    height: 70vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sweets{
    display: flex;
    flex-flow: row wrap;
}

.third-one{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;

}
.third-one span{
    color:rgb(106, 108, 109);
    padding: 0 35rem;
    text-align: center;
}

.swt1{
    margin: 4px;
    padding: 60px;
    border-radius: 10px;
    background-color: rgb(195, 216, 216);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1;
    line-height: 1.5;
}

.sweets img{
    height: 30px;
}

.fourth-section{
    padding: 20px;
    height: 60vh;
    display: flex;
    gap: 5rem;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
}

.fourth-section h2, div{
    padding: 5px;
}

.fourth-section img{
    border-radius: 5px;
    height: 60vh;
}

figure{
    height: 50vh;
    background-image:url('img/fifth-section.jpg');
    background-size: contain;
    gap: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

footer{
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
}